openai
streamlit
torch
llama-cpp-python
pytesseract
fitz
nltk
python-docx
openpyxl
gensim
sentence_transformers
chromadb
langchain-community
langchain_core
langchain_openai
langchain_huggingface
faiss-cpu
numpy
python-dotenv